# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Patrick\Desktop\OneDrive - Texas A&M University - Corpus Christi\Clion\OS_Class\Proj5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
